body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/004/933/715/large_2x/books-seamless-pattern-hand-drawn-doodle-style-minimalism-sketch-wallpaper-textile-wrapping-paper-background-reading-education-bookstore-science-vector.jpg");
    background-size: 720px;
}

h1, h2, p, nav, footer {
    text-align: center;
  }

.home_main {
    width: 80%;
    /* background-color: grey; */
    margin-left: auto;
    margin-right: auto;
}